body
{
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

.container
{
    width: 858px;
    margin: 0 auto;
}

.navbar
{
    position: fixed;
    right: 60px;
    top: 27px;
}

.navbar-ul
{
    display: flex;
    gap: 33px;
}

.navbar-ul-li
{
    list-style-type: none;
}

.navbar-ul-li_a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.banner
{
    margin-top: 210px;
    margin-bottom: 71px;
}

.banner-child
{
    display: flex;
    gap: 115px;
}

.banner-child-text_h1
{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}

.banner-child-text_p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 38px;
}

.banner-child-text-a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
}

.banner-child-text-a_child
{
    width: 167px;
    height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 9px 21px 17px 20px;
    text-decoration: none;
}

.banner-child-img_child
{
    width: 243px;
    height: 243px;
    border-radius: 50%;
}

.content
{
    width: 100%;
    height: 396px;
    background: #EDF7FA;
}

.content-intro
{
    display: flex;
    justify-content: space-between;
}

.content-intro_h2
{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    margin-top: 7px;
}

.content-intro_a
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
    text-decoration: none;
    margin-top: 27px;
}

.content-table{
    display: flex;
    justify-content: space-between;
}

.content-table-child
{
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.content-table-child_h3
{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin: 24px 21px 17px 23px;
}

.content-table-span
{
    display: flex;
    width: 374px;
    height: 34px;
    margin-left: 23px;
    margin-right: 21px;
}

.content-table-span_child
{
    width: 239px;
    height: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.content-table-span_child:nth-child(1)
{
    border-right: 1px solid #000000;
    height: 21px;
    width: 135px;
    margin-right: 25px;
}

.content-table-span_child:nth-child(2)
{
    width: 239px;
    height: 34px;
}

.content-table-child_p
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin: 11px 27px 7px 23px;
}

.content-feature
{
    margin-top: 15px;
}

.feature-h2
{
    width: 152px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 11px;
}

.feature-child
{
    display: flex;
    gap : 18px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 31px;
}

.feature-img img
{
    width: 246px;
    height: 180px;
    border-radius: 6px;
}

.feature-content-h3
{
    width: 305px;
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-top: 0;
    margin-bottom: 20px;
}

.feature-content-span
{
    display: flex;
    gap: 26px;
    align-items: center;
}

.feature-content-span_design
{
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-content-span_design span
{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}

.feature-content-p
{
    width: 594px;
    height: 93px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 17px;
}

.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    height: 182px;
    margin-top: 83px;
}

.footer-icon
{
    display: flex;
    gap: 35px;
}

.img-icon
{
    width: 30px;
    height: 30px;
}

.footer-text
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

